<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true" >
<div class="modal-dialog modal-dialog-centered" role="document" >
  <div class="modal-content" >
    <div class="modal-header" style= " background-color: #FFCC22 ">
      <h4 class="modal-title" id="ModalLongTitle"><i class="glyphicon glyphicon-info-sign" aria-hidden="true"></i> Dashboard</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
     <h1><%= restaurant.name %>'s Dashboard</h1>
      <hr>
      <blockquote>
        <ul class="list-unstyled">
          <li><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i> 有 <%= restaurant.comments.count %> 筆評論</li>
          <li><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i> 這家餐廳的平均價位為 $XXX</li>
          <li><i class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></i> 有 XX 人收藏這家餐廳</li>
        </ul>
      </blockquote>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>
</div>