.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 10px;
  text-align: center;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}

.restaurant-item:hover{
  background-color: rgba(255,215,0,0.3);
  border-radius: 20px;
}

.title{
  margin-left: 100px;
}


.tag{
  margin-top: 5px;
  margin-right: 10px;
}

.ranking-item{
 padding:10px 5px;
 border-radius: 10px;
}

.ranking-item:hover{
  background-color: rgba(255,215,0,0.3); 
}

/*pills part*/
.nav-pills{
  margin: 0;
  background: rgba(255,215,0,0.5);
  font-weight: bold;
  text-align: center;
  border-radius: 30px;
}

.nav-pills li{
  float: none;
  display: inline-block;
}

.nav-pills li a{
  margin: 0;
  padding: 10px 15px;
  border-radius: 5px;
  color:orange;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus{
  color: #000;
  background-color: rgba(255,215,0,0.9);  
} 

.page-footer {
  padding: 80px 0;
  background-color: #222222;
  color: #fff;
  text-align: center;
}

.footer-content p {
  line-height: 22px;
}

.footer-social-icon a i {
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-top: 15px;
  margin-right: 15px;
}

.login {
  margin-bottom: 200px;
}

.my-restaurant {
  display: inline-block;
  text-align: center;
  padding: 7px 7px 0 7px;
}

.my-restaurant > div {
  height: 80px;
}

.my-restaurant img {
  max-height: 100%;
}

.panel a:hover .my-restaurant {
  background-color: #eee;
  border-radius: 10px;
}

a .line-disappear {
  text-decoration: none !important;
}

.user-item {
  margin-bottom: 15px;
 }
 
.user-item img {
   width: 128px;
   height: 128px;
 }

 .list-group-item img{
  margin-right: 15px;
 }